@mixin textTransform {
  text-transform: uppercase;
  text-decoration: none;
}

@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
// 0 - 600px:  Phone
// 600 - 900px: Tablet portrait
// 900 - 1200px: Tablet landscape
// [1200-1800] is where normal styles apply. This is our current normal media queries apply
// 1800px + : Big desktop

// Max width media query for the first 3 and min width media query for last one

@mixin respond-phone {
  @media (max-width: 600px) {
    // content allow us to pass a block of code in mixin. Check _base.scss
    @content;
  }
}

/*
$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop
*/
@mixin respond($breakpoint) {
  // About rem and ems. The rem and ems they are not effected by a root font size seting.
  // 1 rem or em is equal to default i.e 16px but if user changes it to 20px then it will be 20px no matter what we have defined in our _base file font defination
  // Here we will use em instead of rem because they fail to work in some browser.
  // So we divide 600px by 16 which will be 37.5em
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      // 900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      // 1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      // 1800px
      // this will be a min width so if width is minimum than this it will not happen
      @content;
    }
  }
}
