.card {
  &__container {
    display: flex;
    flex-grow: 1;
  }
  background-color: orangered;
  height: 50rem;
  transition: all 0.8s;
  width: 100%;

  &:hover {
    transform: rotateY(180deg);
  }
}
