.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  font-size: $default-font-size;

  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: orangered;
    float: left;
    shape-outside: circle(
      50% at 50% 50%
    ); //In order for this to work we must have the element floated.
    // Also, the dimensions aka width and height have to be defined !!!
    -webkit-shape-outside: circle(50% at 50% 50%);
  }
}
