.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.row {
  display: flex;
  background-color: transparent !important;
  gap: 1rem;
}

.halfRow {
  display: flex;
  min-height: 3rem;
  width: 50%;
}

.space {
  display: flex;
  width: 2rem;
  height: 100%;
}

.section-feature {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;

  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  // &:not(:last-child) {
  //   margin-right: 1rem;
  // }
  gap: $gutter-horizontal;
}

.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  display: inline-block;
  transition: all 0.3s;
  // &:not(:last-child) {
  //   margin-right: 1rem;
  // }

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem;
}

.discover-all {
  padding-top: 8rem;
  background-color: $color-grey-light-1;
}

.section-stories {
  position: relative;
}
